*{
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
.navbar .nav-item{
    font-size: 22px;
}
.navbar .nav-item .nav-link{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.navbar .nav-item .nav-link:hover{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.navbar-brand{
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.dob i{
    color: #149ddd;
}
.don label{
    background: #e4edf9;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: bold;
}
.don i{
    color: #149ddd;
}
.don ul li{
    font-size: 18px;
}
.don h4{
    text-transform: uppercase;
}
.dot h4{
    text-transform: uppercase;
    
}
.dot i{
    color: #149ddd;
}
.dot label{
    background: #e4edf9;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: bold;
}
.dot ul li{
    list-style: none;
    font-size: 18px;
}
.top-footer a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.card
{
    box-shadow: 5px 3px 5px 2px rgb(136, 129, 129);
}
.stick a{
    position: absolute;
    top:45%;
    left: 87%;
    font-size: 40px;
    margin-top: 20px;
    color: #149ddd;
}
.map iframe{
    position: absolute;
    width: 50px;
    height: 40px;

}
footer{
    background: rgb(68, 66, 66);
    color: white;
}
footer .container a{
    color: white;
}
#map{
    border: 2px solid black;
}
#video{
    margin-top: 30px;
}




