*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #fafafaf1;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    line-height: 50px;
    text-align: center;
  }
  
  
  .sidenav a {
    padding: 5px 10px;
    text-decoration: none;
    font-size: 25px;
    color: violet;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    color: rgb(204, 0, 255);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .nav_span{
      padding: 10px;
  }
  .logo{
      font-family: Georgia, 'Times New Roman', Times, serif;
      float: right;
      padding: 5px 15px;
      font-size: 18px;
      margin: 2px 10px;
      border-radius: 2px;
      font-weight: 700;
  }



  /* banner */

  .slideshow-container {
    position: fixed;
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    position: absolute;
    top: 50%;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .mySlides{
      width: 100%;
      height: auto;
  }
  @media(max-width:550px){
      .text h1{
          font-size: 24px;
      }
      .text {
        position: absolute;
        top: 50;
        color: #f2f2f2;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      .text h4{
          margin-top: 20px;
      }
      .text p{
          margin-top: 20px;
      }
      .text .btn_design{
          display: inline;
          background: #24a0ed;
          padding:5px 20px;
          border-radius: 2px;
      }
  }
  
  .mySlides img{
      filter: brightness(50%);
  }
  .text a{
      display: inline;
      background-color:#24a0ed;
      color: wheat;
      padding:10px 20px;
      margin-top: 20%;
      cursor: pointer;
      border-radius:3px ;

  }
 @media(min-width:750px){
    .text h1{
        font-size: 60px;
    }
    .text p{
        font-size: 40px;
        padding: 10px;
        margin: 10px;
    }
    .text .btn_design{
        display: inline;
        font-size: 20px;
        background: #24a0ed;
        padding:5px 20px;
        border-radius: 2px;
    }
 }

 /* card design */

 .home_body{
   width: 100%;
   padding: 10px;
   
   
 }
  .design h3{
    font-size: 28px;
    text-align: center;
    padding: 10px;
    background: white;
    color: black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  }
  .main_content{
    display: flex;
    padding: 20px;
    margin: 30px;
  }
  .main_content h3{
    display: inline;
    font-size: 35px;
    padding:10px;
  }
  
  hr{
    margin: 10px;
    width: 100px;
    height: 5px;
    background-color: red;
    border: 1px solid red;
  }
  .main_content p{
    padding: 5px 20px;
    font-size: 28px;
  }
  .main_card{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid rgb(209, 206, 206);
    box-shadow: 0 3px 6px rgba(0,0,0.5);
    background-color: white;
    border-top: 10px solid#24a0ed ;
  }



  @media(max-width:650px){
    .design h3{
      font-size: 16px;
    }
    .main_content{
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .main_content h3{
      font-size: 24px;
    }
    .main_content p{
      padding: 5px 20px;
      font-size: 18px;
    }
    /* .main_content .content .main_card{
      width: 330px;
      max-height: 230px;
    } */
  }
  @media(min-width:650px){
    .main_content .content .main_card{
      width: 600px;
      height: 300px;
    }
  }
  @media(max-width:990px){
    .main_content{
      flex-direction: column;
    }
  }
    
/* --------------top-card over------------------------------- */


/* ------------------- service card -------------------------- */
.card_container{
  display: flex;
  justify-content: space-evenly;
  margin:20px;
  
}
.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  width: 270px;
  max-height: 460px;
}

.card img{
    width: 270px;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.card .card_content{
  width: 270px;
  max-height: 280px;
  border: 1px solid rgb(219, 219, 223);
  border-radius: 3px;
}
.card_content h3{
  padding: 10px;
  background: rgba(243, 243, 243, 0.925);
  text-align: center;
}
.card_content p{
  padding: 10px;
  font-size: 18px;
  background-color: white;
}
.card .btn{
    text-align: center;
    padding: 10px;
    background: #24a0ed;
    font-size: 20px;
    text-transform: capitalize;
}
.service{
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  border-top: 1px solid rgb(206, 203, 203);
  border-bottom: 1px solid rgb(192, 190, 190);
}


@media(max-width:650px){
  .card_container{
    flex-direction: column;
  }
  .card{
    margin-top: 20px;
  }
  .card_content p{
    padding: 10px;
    font-size: 18px;
  }
  .service{
    font-size: 20px;
  }
}
